option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: project/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: project.settings

container_commands:
  su:
    command: "django-admin.py loaddata users.json"
  static:
    command: "django-admin.py collectstatic"
  migrate:
    command: "django-admin.py migrate"
